<section class="modal">
    <h2 mat-dialog-title>Viajante</h2>
    <mat-dialog-content> 
    <div class="selecao-idade"> 
        <ul> 
         <li>Adultos</li>        
         <li>(Acima de 12 anos)</li>
         <li>
            <button class="incremento" mat-mini-fab>
                <img src="assets/icones/do_not_disturb_on.png" alt="Operador de subtração">
            </button>
            <span>1</span>
            <button class="decremento" mat-mini-fab>
                <img src="assets/icones/add_circle.png" alt="Operador de adição">
            </button>
         </li>
        </ul>
    </div>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-button mat-dialog-close>Cancel</button>
      <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
      <button mat-button [mat-dialog-close]="true">Delete</button>
    </mat-dialog-actions>
</section>

