<footer class="app-footer">
    <mat-toolbar>
      <div class="left-content">
        <img src="assets/imagens/logo.png" alt="Logo do footer">
        <p>Horário de atendimento: 08h - 20h (Segunda a Sábado)</p>
        <p>Desenvolvido por João Carlos. Projeto fictício sem fins comerciais.</p>
      </div>
      <div class="right-content">
        <p>Acesse nossas Redes:</p>
        <img src="assets/icones/whatsapp.png" alt="Logo do Whatsapp">
        <img src="assets/icones/instagram.png" alt="Logo do Instagram">
        <img src="assets/icones/twitter.png" alt="Logo do Twitter">
      </div>
    </mat-toolbar>
</footer>
